nav.animate-this
  a(href="/").name
    p © Alsser Salvador
  ul.full-size-ul
    li.menu-item
      a.menu-item-text(href='/' data-video-src="work") Work
    li.menu-item
      a.menu-item-text(href='/contact' data-video-src="contact") Contact
    li.menu-item
      a.menu-item-text(href='/about' data-video-src="about") About Me

        