script(src="/luxy/dist/js/luxy.js" charset="utf-8")
script(src="https://unpkg.com/scrollreveal")
script(src="https://cdn.lordicon.com/xdjxvujz.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
script(src="https://cdn.jsdelivr.net/npm/@barba/core")
script(src="https://cdn.jsdelivr.net/npm/@barba/barba.umd.js.map")
script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q==" crossorigin="anonymous" referrerpolicy="no-referrer")
script(type="module" src="/js/main.js")
script(type="module" src="/js/tools-animation.js")
script(type="module" src="/js/cursor.js")