.cursor {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    contain: layout style size;
    pointer-events: none;
}
.cursor.media-blend {
    z-index: 100;
    mix-blend-mode: exclusion;
}
.cursor:before {
    content: "";
    position: absolute;
    top: -24px;
    left: -24px;
    display: block;
    width: 48px;
    height: 48px;
    transform: scale(0.2);
    background: #000;
    border-radius: 50%;
}
.cursor .cursor-media {
    display: block;
    height: 350px;
    width: 400px;
    overflow: hidden;
    border-radius: 0%;
    transform: scale(0);
    margin: -175px 0 -175px ;
    position: relative;
}
.cursor .cursor-media img {
    height: 350px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

@media screen and (max-width: 1359px) {
    .cursor, .cursor-media{
        display: none;
    }
}
