.hero-section{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 5rem;
}

.projects{
    background: none;
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;

}

.project-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FBFBFD;
    width: 50%;
    position: relative;
    height: 580px;
    
}

.project-name-container{

    width: 100%;
    padding: 2rem;
    border-bottom: lightgray 1px solid;
    
}

.project-name{
    font-size: 2rem;
}

.contact-informations-container{
    display: flex;
    align-items: center;

    width: 100%;
    padding: 2rem;
    border-bottom: lightgray 1px solid;
    
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    margin-top: 4rem;
    
    
}
.contact-section-left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-infos{
    
    width: 100%;
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.bottom-image-container{
    width: 30rem;
    aspect-ratio: 4 / 3;

}

.bottom-image-container img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1359px) {
    

    .project-container{
        aspect-ratio: 1 /1 ;
        width: 100%;
        min-width: 300px;
    }

    .project-image-container{
        aspect-ratio: 1 /1 ;
        height: 100%;
        width: 100%;
    }
    
}

@media screen and (max-width: 767px) {

    .hero-section{
        height: fit-content;
    }

    #hero-section-image{
        width: 300px;
    }
    
    .bottom-image-container{
        width: 20rem;
    
    }
    .projects{
        flex-direction: column;
    
    }
    
    
}

